body {
  background-color: rgb(254, 254, 254);
  background-image: url('https://img.freepik.com/foto-gratis/textura-papel-cuadrados_23-2147786544.jpg?w=1800&t=st=1681258028~exp=1681258628~hmac=d8e9e5e9081fa288db442735ddda2796059ba4abc5219be83f421746e422c3a1');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;

}
.calculadora {
  width: 200px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #8856ff;
  border-radius: 5px;
  background-color: #8856ff;
}

.pantalla {
  width: 100%;
  margin-bottom: 10px;
}

.botones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color:#8856ff;
}

button {
  width: 45px;
  height: 40px;
  background-color: #3430a0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 0;
}

.igual {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  margin-top: 5px;
}

.operador {
  color: #007bff;
}
