body {
  background-image: url('https://img.freepik.com/foto-gratis/textura-papel-cuadrados_23-2147786544.jpg?w=1800&t=st=1681268842~exp=1681269442~hmac=9675363a9ad685cb7b4074036e8b692a1d9d39b6ec813a57c46357e3951b7711');
  background-size: cover;
  background-repeat: repeat;
}
.calculadora {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media only screen and (min-width: 480px) {
  .calculadora {
    max-width: 800px;
  }
}

@media only screen and (min-width: 801px) {
  .calculadora {
    max-width: 1920px;
  }
}

.resultado {
  font-size: 2em;
  padding: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
